
<div class="infopageposition">

	<h1><center>About internationally acclaimed dancer, Rose Metcalf!</center></h1>

	<ul><h2>

		<br>
		<br>
		<li>An award-winning choreographer and fully qualified dance teacher hailing from the U.K.. Rose now calls Boulder, Colorado, home and is delighted to put her talents towards creating wedding dances to be remembered and treasured for a lifetime.</li>
		<br>
		<br>
		<br>
		<li>Rose revels in capturing every unique romance and story through the joy of dance and is capable of teaching any age and ability of student.</li>
		</h2>
	</ul>
</div>
