<div class="infopageposition">


	<div class="font-size1"><center>First dances can be mastered 
	<div class="font-size1">in four to five lessons.</center></div>
	<br>
	<ul>
	<li><div class="font-size2">First dances can often be mastered in four to five lessons. Beginners are encouraged!  Planning a wedding can be a stressful time. Dancing is always fun and Rose exuberates a calm and relaxing environment that ensures a happy memory to last a lifetime.</div></li>

	<li><div class="font-size2">Rose gives you the option of learning your wedding dance in the comfort of your own home or in a dance studio and works around your schedule. View the map of locations available here.</div></li>
<br>
	<li><div class="font-size2">Home or studio lessons are offered within 12 mile radius of Boulder:</div></li>
	<br>
	<li><div class="font-size2">*** Rose offers complimentary music editing for your first song ***</div></li>
</div>
