<div class="infopageposition">


	<h1><center>First dances can be mastered in four to five lessons.</center></h1>
	<br>
	<ul>
	<li><h2>First dances can often be mastered in four to five lessons. Beginners are encouraged!  Planning a wedding can be a stressful time. Dancing is always fun and Rose exuberates a calm and relaxing environment that ensures a happy memory to last a lifetime.</h2></li>

	<li><h2>Rose gives you the option of learning your wedding dance in the comfort of your own home or in a dance studio and works around your schedule. View the map of locations available here.</h2></li>

	<li><h2>Home or studio lessons are offered within 12 mile radius of Boulder:</h2></li>
	<li><h2>*** Rose offers complimentary music editing for your first song ***</h2></li>
</div>
