

<div class="infopageposition">

	<div class="font-size1"><center>Crystal Package $500</center></div>
	<br>
	<br>
	<div class="font-size2">This package includes</div>
	<ul>
		<li><div class="font-size2">Home or studio lessons</div></li>
		<li><div class="font-size2">4 x 1 hour first dance lessons.</div></li> 
		<li><div class="font-size2">You will learn your first dance, catered to your style.</div></li>
		<li><div class="font-size2">Home or studio lessons outside the 12 mile radius of Boulder is $600.</div></li>
	</ul> 

