

<div class="infopageposition">

	<h1><center>Diamond Package $750</center></h1>
	
	<br>
	<h2>This package includes</h2>
	<ul>
		<li><h2>4 x 1 hour first dance lessons. You will learn your first dance, catered to your style</h2></li>
		<li><h2>1 x 1.5 hour father-daughter dance lesson.</h2></li> 
		<li><h2>You will have a lesson with your parent to learn some moves.</h2></li>
		<li><h3>This is typically a father-daughter dance, however, personalisation is welcome!</h3></li>
		<li><h2>Home or studio lessons outside the 12 mile radius of Boulder is $875.</h2></li>
	</ul> 