
<div class="infopageposition">

	<div class="font-size1"><center>Platinum Package $1,750</center></div>
	<br>
	<br>
	<div class="font-size2">This package includes</div>
	<ul>
		<li><div class="font-size2">4 x 1 hour first dance lessons. You will learn your first dance, catered to your style</div></li>
		<li><div class="font-size2">1 x 1.5 hour father-daughter dance lesson.</div></li> 
		<li><div class="font-size2">You will have a lesson with your parent to learn some moves.</div></li>
		<li><div class="font-size2">This is typically a father-daughter dance, however, personalisation is welcome!</div></li>
		<li><div class="font-size2">4 x 1 hour bridesmaids choreographed dance lessons to get the party started!</div></li>
		<li><div class="font-size2">4 x 1 hour groomsmen choreographed dance lessons to get the party started!</div></li>
		<li><div class="font-size2">Home or studio lessons outside the 12 mile radius of Boulder is $2,075.</div></li>
	</ul> 