

<div class="infopageposition">

	<div class="font-size1"><center>How to Choose a First Dance Song</center></div>

		<li><div class="font-size2"><center>Home or studio lessons outside the 12 mile radius of Boulder is $2,075.</center></div></li>
	<div class="font-size2"><center>First dances can often be mastered in four to five lessons. Beginners are encouraged!  Planning a wedding can be a stressful time. Dancing is always fun and Rose exuberates a calm and relaxing environment that ensures a happy memory to last a lifetime.</center></div>
<br>
	<ul><div class="font-size3">

		<li>Are there any songs that tell your love story? These are perfect choices because Rose can choreograph the tale of your romance through dance.</li>
		<li>Do you have a favourite song? This would be a great choice. Remember, you will listen to this song a lot when rehearsing and it will forever be associated with your first dance.</li>
		<li>If you are a beginner to dance, try to choose something with a beat. Slower songs are more suited to advanced dancers.</li>
		<li>Do you have a big, fun personality? How about starting with a romantic song and switching to a pop song for a lively ending?</li>
		<li>As a couple, do you have a theme to your relationship, such as Dungeons and Dragons? How about a themed first dance? Choose a song that represents your theme such as a movie or video game soundtrack!</li></div>
	</ul>
	
	<div class="font-size2">Need help choosing a song? Check out this playlist: <a class="infodancesongs" href="https://www.youtube.com/watch?v=rtOvBOTyX00&list=RDQM_zOEhmPthXM" target="_blank">  Wedding Songs</a></div>


</div>
























