

<div class="infopageposition">

	<h1><center>Things to know and bring to your dance rehearsal</center></h1>
	
	<br>
	<h2>Dressing for lessons is fairly easy! Here are a few key pointers:</h2>
	<ul>
		<li><h2>Wear clothing you can comfortably move in.</h2></li>
		<li><h2>Think of what you might wear to a yoga class or to go running!</h2></li> 
		<li><h2>Have layers! Make sure you can remove layers as you warm up through the lesson.</h2></li>
		<li><h2>Bring a pair of tennis shoes which have clean soles! ( studios do not allow outdoor footwear).</h2></li>
		<li><h2>Have a pair of shoes that are similar or the same pair you will wear for the dance at the wedding.</h2></li>
		<li><h2>Women: If you will be wearing a dress, bring a skirt that is similar to your dress for the wedding.</h2></li>
		<li><h2>Bring some extra water</h2></li>
		

	</ul> 