

<div class="infopageposition">

	<div class="font-size1"><center>Things to know for your dance rehearsal</center></div>
	
	<br>
	<br>
	<div class="font-size2">Dressing for lessons is fairly easy! Here are a few key pointers:</div>
	<ul>
		<li><div class="font-size2">Wear clothing you can comfortably move in.</div></li>
		<li><div class="font-size2">Think of what you might wear to a yoga class or to go running!</div></li> 
		<li><div class="font-size2">Have layers! Make sure you can remove layers as you warm up through the lesson.</div></li>
		<li><div class="font-size2">Bring a pair of tennis shoes which have clean soles! ( studios do not allow outdoor footwear).</div></li>
		<li><div class="font-size2">Have a pair of shoes that are similar or the same pair you will wear for the dance at the wedding.</div></li>
		<li><div class="font-size2">Women: If you will be wearing a dress, bring a skirt that is similar to your dress for the wedding.</div></li>
		<li><div class="font-size2">Bring some extra water</div></li>
		

	</ul> 