<div>
	<div class="font-size1">First dances can often be mastered in four to five lessons. Beginners are encouraged!  Planning a wedding can be a stressful time. Dancing is always fun and Rose exuberates a calm and relaxing environment that ensures a happy memory to last a lifetime.</div>

	<h1>Rose gives you the option of learning your wedding dance in the comfort of your own home or in a dance studio and works around your schedule. View the map of locations available here.</h1>

	<div class="font-size2">Rose offers complimentary music editing for your first song</div>
	<div class="font-size2">Home or studio lessons are offered within 12 mile radius of Boulder:</div>



<div class="font-size1">Packages:</div>

<div class="font-size2">Crystal Package $500:</div> 
	<ul>
	This package includes:
4 x 1 hour first dance lessons. You will learn your first dance, catered to your style.
Diamond Package $750:
This package includes:
 4 x 1 hour first dance lessons. You will learn your first dance, catered to your style &
 1 x 1.5 hour father-daughter dance lesson. You will also have a lesson with your parent to learn some moves. This is typically a father-daughter dance, however, personalisation is welcome!

Platinum Package $1,250:
This package includes:
4 x 1 hour first dance lessons. You will learn your first dance, catered to your style;
 1 x 1.5 hour father-daughter dance lesson. You will also have a lesson with your parent to learn some moves. This is typically a father-daughter dance, however, personalisation is welcome &
4 x 1 hour bridesmaids or groomsmen dance lessons. Either your bridesmaids or groomsmen will have a choreographed dance to get the party started!
Double-Platinum Package $1,750:
This package includes:
4 x 1 hour first dance lessons. You will learn your first dance, catered to your style;
 1 x 1.5 hour father-daughter dance lesson. You will also have a lesson with your parent to learn some moves. This is typically a father-daughter dance, however, personalisation is welcome &
4 x 1 hour bridesmaids dance lessons. Your bridesmaids will have a choreographed dance to get the party started!
4 x 1 hour groomsmen dance lessons. Your groomsmen will have a choreographed dance to get the party started!
Brush up 1 x 1 hour lesson = $115
Just want one lesson to learn some moves? $115
Home or studio lessons outside 10 mile radius of Boulder:
Crystal Package $600: 
This package includes:
4 x 1 hour first dance lessons. You will learn your first dance, catered to your style.
Diamond Package $875:
This package includes:
 4 x 1 hour first dance lessons. You will learn your first dance, catered to your style &
 1 x 1.5 hour father-daughter dance lesson. You will also have a lesson with your parent to learn some moves. This is typically a father-daughter dance, however, personalisation is welcome!
Platinum Package $1,475:
This package includes:
4 x 1 hour first dance lessons. You will learn your first dance, catered to your style;
 1 x 1.5 hour father-daughter dance lesson. You will also have a lesson with your parent to learn some moves. This is typically a father-daughter dance, however, personalisation is welcome &
4 x 1 hour bridesmaids or groomsmen dance lessons. Either your bridesmaids or groomsmen will have a choreographed dance to get the party started!
Double-Platinum Package $2,075:
This package includes:
4 x 1 hour first dance lessons. You will learn your first dance, catered to your style;
 1 x 1.5 hour father-daughter dance lesson. You will also have a lesson with your parent to learn some moves. This is typically a father-daughter dance, however, personalisation is welcome &
4 x 1 hour bridesmaids dance lessons. Your bridesmaids will have a choreographed dance to get the party started!
4 x 1 hour groomsmen dance lessons. Your groomsmen will have a choreographed dance to get the party started!
Brush up 1 x 1 hour lesson = $140
Just want one lesson to learn some moves? $140
Rose would love to film your first dance at your reception and provide you with a copy. This service is complimentary and dependent upon Rose’s availability.
