
<div class="infopageposition">

	<h1><center>Rose Presents Wedding Dances Testimonial</center></h1>


<h3>Bill C and Marta C:
I always joked that I had three left feet because saying I had two left feet didn’t cover how badly I thought I danced. The truth was that I just didn’t have much confidence or any training in dance. I didn’t think I could pull off anything more than dancing in a slow circle with my gal. I wanted to, I just didn’t know how, or if I could. Then we found Rose. 
Rose allowed us to choose “our song” and then choreographed a first dance for us. She broke the dance into small, manageable pieces and met with us several times in the comfort of our own home, so that we could learn the dance a little bit at a time.
We would meet with Rose and learn a new, small section of our dance each time, and review what we’d learned the last time. Then we’d practice our steps a few times on our own before meeting again. After a few short sessions, we had a dance we felt good about, and we managed to learn it without ever feeling frustrated or overwhelmed. By the time our wedding arrived, we had the confidence to perform a first dance that we had fun doing, and our guests talked about for weeks. Her friends said “I didn’t know he had it in him”, and “Who knew Bill had moves like that?” My sister said “He must love her because he sure wouldn’t have learned that for just anyone.” 
Guys, surprise your girl with a first dance choreographed by a professional that will make both you and she dance with confidence - together. You’ll bond while learning it, and she’ll love that you made the effort!</h3>


<h3>Sarah B. and Orion W:
It has been so lovely working with Rose. She is truly a visionary. She has taught us to dance in a way that is easy to understand and fun to do, even if you are like us and have little to no dance experience. She was able to blend our two favorite songs together so that we could please our families and have a modern, fun piece to the dance as well. I am so excited for our big day.</h3>

<h3>Melissa P. and Peter H:
You were amazing and far exceeded my expectations. I'd taken dance classes before but never hired anyone for a customized dance and you were able to work with Peter and I so well. All of our sessions with you were both fun and productive and you made sure we were comfortable with our dance by the time of the wedding. You took the time to get at the heart of what our quirky music choice meant to us and made a dance that not only reflected the song and lyrics but us as a couple. To top all of that off, you created a cute and charming dance for my dad and I - on the fly and to a piece of music you'd never heard before! I will happily recommend you to anyone who needs dance lessons!</h3>

<h3>Bill P. ( father):
6 days before her wedding, in a little more than an hour, Rose created a beautiful dance for my daughter and me.  Her instruction made the dance easy and fun.
Thanks Rose!</h3>
