<!DOCTYPE html>
<html ng-app="module.auth">
    <head>
        <title>Login</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
        <script src="/js/module.auth.js"></script>
        <link rel="stylesheet" href="main.css">
        <style>
            fieldset {
                margin: 10px 0;
            }
        </style>
    </head>
    <body class="authbody" ng-controller="module.auth.controller as auth">
        <!-- <div class="backgroundauth">
            <img src="/images/weddingtwirl.jpg">

        </div> -->

        <h1><a class="textcolor" href="/">Homepage</a></h1>
        <form ng-submit="auth.login.submit($event)">
            <h1 class="textcolor">Login!</h1>
            <fieldset class="login">
                <label>Email</label>
                <input class="inputsize" required placeholder="Email" type="email" ng-model="auth.payloads.login.email"/>
            </fieldset>
            <fieldset class="login">
                <label for="password">Password</label>
                <input class="inputsize" required placeholder="Password" type="password" ng-model="auth.payloads.login.password"/>
            </fieldset>
            <button type="submit">Login</button>
            <p ng-class="auth.login.alert">{{ auth.login.message }}</p>
        </form>
        <form ng-submit="auth.register.submit($event)">
            <h1 class="textcolor">Register!</h1>
            <fieldset class="login">
                <label>Email</label>
                <input class="inputsize" required placeholder="Email" type="email" ng-model="auth.payloads.register.email"/>
            </fieldset>
            <fieldset class="login">
                <label for="password">Password</label>
                <input class="inputsize" required placeholder="Create a password" type="password" ng-model="auth.payloads.register.password"/>
            </fieldset>
            <button type="submit">Register</button>
            <p ng-class="auth.register.alert">{{ auth.register.message }}</p>
        </form>
    </body>
</html>