.backgroundmov  {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;

}

#map	{
	height: 60%;
	width: 100%;

	}

.img {
  border-radius: 50%;
  width: 23vw;
  height: 18vw;
  position: relative;
  z-index: 1;
  opacity: 0.95;
}

.navspace	{
	float: right;
	
}

.navbar-collapse	{
	position: relative;
	/*z-index: 1;*/
}

.color-me {
  color: white;
  font-size: 1.5vw;

}

.btn	{
	background-color: #C6C6C9;
}

.form-control	{
	background-color: #C6C6C9;
}

.carousel	{
	background-color: #1F2024;
  width: 40%;
  margin: auto;
  border: 1vw solid white;
  box-shadow: 10px 10px 5px #888888;
  bottom: 60px;
  position: relative;

}

.carousel-inner>.item>img { 
  height: 35vw; 
  width: 40vw;
}

.carousel-inner.onebyone-carosel { margin: auto; width: 100%; }

.onebyone-carosel .active.left { left: -33.33%; }

.onebyone-carosel .active.right { left: 33.33%; }

.onebyone-carosel .next { left: 33.33%; }

.onebyone-carosel .prev { left: -33.33%; }

.testimonyColor {
    color: #FFAD19;
    font-family: Arial;
    font-style: italic;
    font-size: 2.5vw;
}

.hamburger  {
  background-color: white;
  color: grey;
}

.hambackground  {
  background-color: grey;
}

.testsize {
  width: 540px;
  height: 450px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px;
    background-color: #7B7F7B;
    border: 0px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */

}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close: hover,
.close: focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fa {
  padding: 10px;
  font-size: 35px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  
}

.fa: hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;

  
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.social-media   {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*THIS IS THE AUTHORIZATION CSS*/

.authbody {
  min-height: 80px;
    background-image: url("images/weddingtwirl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.login {
  width: 150px;
  color: white;
}

.inputsize {
  width: 130px;
}

.textcolor  {
  color: white;
}

.formbody {
  min-height: 80px;
    background-image: url("images/WendyDennisbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.formtextcolor  {
  color: white;
}

.textsize {
  height: 26px;
  width: 140px;
  font-weight: bold;
  font-size: 14px;

}

/*Info page css*/

.infoBackground  {
  background-image: url("images/backgroundinfo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.infopageposition {
color: white;
font-family: Arial;
margin-left: 25px;
margin-right: 25px;
border: 0em;
padding: 0em;
bottom: 80px;
position: relative;

}
@media (max-width: 925px) {
  .infopageposition {
    margin-top: 80px;
    width: 75vw;
  } 
  .collapse.navbar-collapse {
    position: relative;
    z-index: 10;
  }

}


.infodancesongs {
  color: blue;
  text-decoration: underline;

}

.infofont {
  font-size: 1vw;
}

.dropdown-toggle  {
  color: white;
  font-size: 1.5vw;
}























